<main class="d-grid gap-3">
  <%= render "user", user: @user %>
    <div class="card mb-3">
      <div class="card-header">
        <h2>Bio</h2>
      </div>
      <div class="card-body">
        <p class="card-text">
          <%= @user.bio %>
        </p>
      </div>
    </div>

    <div class="posts_container">
      <% @posts.each do |post| %>
        <%= render "post", post: post %>
        <% post.comments.each do |comment| %>
          <%= render "comment", comment: comment %>
        <% end %>
      <% end %>
    </div>
    <%= link_to "See all posts", user_posts_path(@user.id), class: "btn btn-primary mx-auto", style: "width: fit-content" %>
</main>