<article class="card">
  <div class="card-header d-flex justify-content-between align-items-center flex-column flex-sm-row">
    <div class="d-flex align-items-center gap-1">
      <h4 ><%= @post.title %> </h4>
      <span class="h4">By</span>
      <h5 class="h4"><%= @post.user.name %></h5>
    </div>
    <div>
      Comments: <%= @post.comments.count %>,
      Likes: <%= @post.likes.count %>
    </div>
  </div>

  <div class="card-body">
    <%= @post.text %>
  </div>
  <div class="card-footer d-flex align-items-center">
    <%= render "like_comment_links", post: @post, user: @user %>
  </div>
</article>
<div class="border-bottom">
  <%= render partial: "comment", collection: @post.comments %>
</div>