<article class="card">
  <div class="card-header d-flex justify-content-between align-items-center flex-column flex-sm-row">
    <div class="d-flex align-items-center gap-1">
      <h4 ><%= @post.title %> </h4>
      <span class="h4">By</span>
      <h5 class="h4"><%= @post.user.name %></h5>
    </div>
    <div>
      Comments: <%= @post.comments.count %>,
      Likes: <%= @post.likes.count %>


      <% if can? :destroy, @post %>
        <div class="ms-3 d-inline-block"> 
          <%= button_to "", user_post_path(@post.user_id,@post.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger fa-solid fa-trash-can d-inline-block ms-auto' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="card-body">
    <%= @post.text %>
  </div>
  <div class="card-footer d-flex align-items-center">
    <%= render "like_comment_links", post: @post, user: @user %>
  </div>
</article>
<div class="border-bottom">
  <%= render partial: "comment", collection: @post.comments %>
</div>