<article class="card" >
  <%= link_to user_post_path(@user.id, post.id), class: "text-decoration-none" do %>
    <div class="card-header">
      <h3>
        <%= post.title %>
      </h3>
    </div>
    <div class="card-body">
      <p class="card-text">
        <%= post.text[0..100] + "..." %>
      </p>
    </div>
    <div class="card-footer d-flex">
    <div class="d-inline-flex align-items-center">
      <%= render "like_comment_links", user: @user, post: post%>
    </div>
    <span class="ms-auto ">
      Comments: <%= post.comments_counter %>,
      Likes: <%= post.likes_counter %>
    </span>
  </div>
  <% end %>
</article>
